p,h1
{
	margin:0;
	padding:0;
}

body
{
	margin:0;
	padding:0;
	
	background:black;
	color:white;
	font-size: 120%;
	font-family: Arial;
}

#content{

	max-width:768px;
	margin: 24px auto;
	text-align: center;
}

#description
{
	background: #00AFE4;
	margin: 0 auto;
	margin-bottom:40px;
	font-size:80%;
	width:320px;
	padding: 20px;
}

a{color:#00AFE4;text-decoration:none;}
a:hover{text-decoration:underline;}

#header{margin-top:24px;}
#header,#footer{text-align: center;}

.loader{margin-top:48px;}
.loader > p:first-child{margin-bottom:24px;}